span i {
    opacity: 0.75;
    font-weight: 300;
}
span strong {
    font-weight: 500;
}
.tDuration {
    opacity: 0.5;
    font-weight: 100;
}
div.trackProgressBar {
    display: inline-block;
    position: absolute;
    background-color: rgba(200,200,255,0.5);
    height: max-content;
    z-index: -50;
}
.requested {
    color: rgba(var(--newsFg),1)
}