<div>
    <section>
        <div>
            <h1>What's New (2025)</h1>
            Welcome back! We've made a number of incremental improvements since last year. If this is your first time, click the 'Help' button (or just read the popup toast that should've greeted you) for more details on how this works.
        </div>
    </section>
    <section>
        <div>
            <h2>IMPROVEMENTS</h2>
            <ul>
                <li>User ID is assigned via the Intranet page link, manual prompt, or randomly generated. This is used to keep track of requests and timing. And it <i>mostly</i> works!</li>
                <li>Refresh button (in 'New Arrivals' section) to supplement the automatic refresh when a song gets uploaded. (If that still fails, a full browser refresh will <i>almost definitely</i> do it.</li>
                <li>Sidebar lists (in desktop mode) are now individually scrollable.</li>
                <li>Nicer-looking buttons.</li>
                <li>Light theme is no longer awful, though I suspect most of us will still prefer going dark.</li>
            </ul>
        </div>
    </section>
    <section>
        <div>
            <h2>KNOWN ISSUES</h2>
            <ul>
                <li>I (SirLemming) have personally witnessed slowdown when resizing the browser or scrolling down. GPU actually seems to make it worse somehow, I have no idea why. <b>Please let me know if this happens to you</b> so I can collect some more data on why this might be happening!</li>
                <li>Song Queue may occasionally show upcoming requests in the wrong order. Switching away from the tab and coming back should help.</li>
                <li>Occasionally an online request ends up with blank metadata due to a timing issue. Unfortunately it's hard to fix this if it happens, but the good news is the song should still play!</li>
            </ul>
        </div>
    </section>
    <section>
        <div>
            <button (click)="closeMe()">Close</button>
        </div>
    </section>
</div>