#mainSection {
    display: flex;
}

#leftWrapper {
    /*min-width: 15%;*/
    flex: 1;
    background: linear-gradient(0deg, rgba(var(--newsBg),1), rgba(var(--recentBg),1));
    top: 4dvh;
    height: max-content;
    position: sticky;
}

#browseWrapper {
    flex: 3;
    flex-grow: 4;
    box-shadow: var(--browseShadow)
}

#queueWrapper {
    background: linear-gradient(180deg, rgba(var(--queueBg-a),0.25), rgba(var(--queueBg-b),0.9));
    mask-image: linear-gradient(to bottom, rgba(var(--queueBg-b),0.9) 0%, transparent 100%);
    /*min-width: 15%;*/
    flex: 1;
    /*height: fit-content;*/
    height: 100vh;
    position: sticky;
    top: 4dvh;
    div#queueHeader {
        h3 {
            color: rgba(var(--queueFg),1);
            font-family: 'Roboto Condensed', 'Roboto', Arial;
            font-size: 1.25rem;
            text-transform: uppercase;
            text-align: center;
        }
    }
}

app-new-arrivals {
    display: inline-block;
    /*position: sticky;*/
    top: 4dvh;
    width: 100%;
}

#hamburgerBtn {
    display: none;
}

@media screen and (orientation: portrait) {
    #queueWrapper, app-new-arrivals {
        top: 3dvw;
    }
}

@media (orientation: landscape) {
    .mobileOnly {
        display: none;
    }
}

@media (orientation: portrait) {
    #mainSection {
        flex-direction: column;
    }
    #queueWrapper, #leftWrapper {
        display: none;
        mask-image: none;
        height: auto;
    }    
    #hamburgerBtn {
        display: inline-block;
        background-color: rgba(0,0,0,0);
        box-shadow: none;
        z-index: 6000;
    }
    #hamburgerMenu {
        position: absolute;
        top: 10dvh;
        left: 5dvw;
        z-index: 5000;
        display: flex;
        flex-direction: column;
        color: rgba(var(--btnFg),1);
        background-color: rgba(var(--btnBg),1);
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem);
        button.toggled {
            background-color: gray;
        }
        button {
            padding: 1em;
            border-bottom: 1px solid rgba(var(--btnFg),0.5);
            flex: 1;
            flex-grow: 1;
        }
        button:hover {
            background-color: rgba(var(--btnFg),1);
            color: rgba(var(--btnBg),1);
        }
    }
    #queueWrapper.mobileQueue, #leftWrapper.mobileNew {
        position: absolute;
        top:auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 500;
        background: none;
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem);
    }
    #queueWrapper.mobileQueue {        
        background-color: rgba(var(--queueBg-a),0.75);
        #pAutoDj {
            padding: 1rem 1rem 0 1rem;
        }
        #pRecent {
            padding: 0 1rem 1rem 1rem;
        }
        button#closeQueue {
            display: block;
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: rgba(0,0,0,0);
            color: rgba(var(--queueFg),1);
        }
    }
    #leftWrapper.mobileNew {
        background-color: rgba(var(--queueBg-a),0.75);
        button#closeNew {
            display: block;
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: rgba(0,0,0,0);
            color: rgba(var(--newsHeadFg),1);
        }
    }
    .desktopOnly, #headerSection div.headerButton.desktopOnly {
        display: none;
    }
}