<section id="headerSection" [ngClass]="{shrink: scrolledDown}">
    <div class="headerButton hbLeft">
        <button class="desktopOnly" (click)="toggleHelpText()">Help</button>
        <button class="desktopOnly" (click)="toggleWhatsNew()">What's New</button>
        <app-file-upload class="desktopOnly" (uploadEvent)="getNewArrivalsUntilChanged()"></app-file-upload>
        <button id="hamburgerBtn" class="mobileOnly" (click)="toggleHamburgerMenu()">☰</button>
    </div>
    <div id="headerBar">
        <a href="/">
            <h1>Legendary<span class="h1Secondary">Radio</span></h1>
        </a>
    </div>
    <div class="headerButton hbRight desktopOnly">
        <button (click)="toggleTheme()">{{themeButton}}</button>
        <button onclick="window.location.href='http://intranet.legendarylan.com'">Intranet</button>
        <button (click)="goToRadioURL()">Listen</button>
    </div>    
    <div id="hamburgerMenu" *ngIf="showMenu">
        <!--button id="libraryButton" (click)="resetView()" [ngClass]="{toggled: (!showQueue && !showNew)}">Library</button-->
        <button id="headerQueueButton" (click)="toggleQueue()" [ngClass]="{toggled: showQueue}">Queue</button>
        <button id="headerNewButton" (click)="toggleNewArrivals()" [ngClass]="{toggled: showNew}">New Arrivals</button>
        <button (click)="toggleHelpText()">Help</button>
        <button (click)="toggleWhatsNew()">What's New</button>
        <button (click)="toggleTheme()">{{themeButton}}</button>
        <button onclick="window.location.href='http://intranet.legendarylan.com'">Intranet</button>
        <button (click)="goToRadioURL()">Listen</button>
        <app-file-upload></app-file-upload>
    </div>
</section>

<section id="welcomeText">
    <app-toast [toastText]="[UI_WELCOME_TEXT, UI_HELPTEXT_REQUEST, UI_HELPTEXT_UPLOAD, UI_HELPTEXT_NEW]" [(showToast)]=showHelp [persistent]=true></app-toast>
    <app-toast id="requestToast" [toastText]="[reqToastText]" [(showToast)]="showReqToast"></app-toast>
</section>

<section id="mainSection" ontouchmove>
    <section class="subSection" id="leftWrapper" [ngClass]="{mobileNew: showNew}">
        <app-new-arrivals [uploadedTracks]="uploadedTracks" [recentTracks]="recentTracks" [justRequested]="justRequested" (requestEvent)="handleReqLib($event)" (requestAddEvent)="handleReqNew($event)"></app-new-arrivals>
        <button id="closeNew" class="mobileOnly" (click)="toggleNewArrivals()" [ngClass]="{mobileQueue: showNew}">𐌢</button>
    </section>
    <section class="subSection" id="browseWrapper">
        <app-whats-new *ngIf="showWhatsNew" (closeEvent)="toggleWhatsNew()"></app-whats-new>
        <app-library [tracks]="libraryTracks" [justRequested]="justRequested" (requestEvent)="handleReqLib($event)" (askTheDJEvent)="handleAskTheDJ($event)"></app-library>
    </section>
    <section class="subSection" id="queueWrapper" [ngClass]="{mobileQueue: showQueue}">
        <div id="queueHeader">
            <h3>Song Queue</h3>
            <button id="closeQueue" class="mobileOnly" (click)="toggleQueue()" [ngClass]="{mobileQueue: showQueue}">𐌢</button>
        </div>
        <app-playlist id="pAutoDj" [playlist]="autoDjPlaylist"></app-playlist>
        <app-playlist id="pRecent" [playlist]="mostRecentPlaylist"></app-playlist>
    </section>
</section> 