@import "../library/library.component.scss";

h3 {
    font-family: 'Roboto Condensed', 'Roboto', Arial;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

div#naHeader h3 {
    color: rgba(var(--newsHeadFg),1);
}

div#rrHeader h3 {
    color: rgba(var(--recentHeadFg),1);
}

div.libraryGrid {
    padding: 0.25dvw;
    &#news {
        div.gridRow:nth-child(even) {
            background-color: rgba(var(--newsBg),0.15);
        }
        div.gridCol {
            font-size: 0.7rem;
            &.gc1 {
                padding: 0.25em;
            }            
            &.title {
                color: rgba(var(--newsFg),1);
                font-weight: 500;
            }
            &.otherInfo {
                color: rgba(var(--newsFg),0.5);
                font-weight: 250;
            }
        }
        div.gridCol.request button {
            color: rgba(var(--newsBtnFg),1);
            background-color: rgba(var(--newsBtnBg),1);
        }
        div.naTrack.requested {
            left: 100%;
            opacity: 0;
        }
    }
    &#recents {
        div.gridHeading {
            font-size: 0.8rem;
            font-weight: 900;
            color: rgba(var(--recentHeadFg),1);
            border-bottom: 1px solid rgba(var(--recentHeadFg),1);
            background: linear-gradient(0deg, rgba(var(--recentHeadFg),0.15), rgba(0,0,0,0.0) 25%);
            cursor: pointer;
            transition: .5s ease-out;
            &:hover {
                color: rgba(var(--libTh),1);
                border-bottom: 1px solid rgba(var(--libTh),1);
                background: linear-gradient(0deg, rgba(var(--recentHeadFg),0.15), rgba(0,0,0,0.0) 75%);
                transition: 0s;
            }
        }
        div.gridRow:nth-child(even) {
            background-color: rgba(var(--recentBg),0.15);
        }
        div.gridCol {
            font-size: 0.7rem;
            &.gc1 {
                padding: 0.25em;
            }            
            &.title {
                color: rgba(var(--recentFg),1);
            }
            &.otherInfo {
                color: rgba(var(--recentFg),0.5);
            }
        }
        div.gridCol.request button {
            color: rgba(var(--recentBtnFg),1);
            background-color: rgba(var(--recentBtnBg),1);
        }
    }
    &#news, &#recents {
        div.gridCol.request button:disabled {
            background-color:rgba(0, 0, 0, 0.5);
            cursor:auto;
            box-shadow: none;
        }
        div.gridCol.request button:disabled[title] {
            content: 'Please wait before requesting again.';
        }
    }   
}
@media (orientation: portrait) {
    div.libraryGrid {
        padding: 1rem;
    }
}