<!-- SVG DEFINITIONS -->
<!--https://openclipart.org/detail/182094/refresh-icon-by-pianobrad-182094-->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svgDefinition"
    xml:space="preserve" enable-background="new 0 0 65 65" y="0px" x="0px" viewBox="0 0 65 65" >
    <title>Refresh icon</title>
    <desc>Two arrows forming a circle</desc>
    <symbol id="svg-refresh">
        <g fill="currentcolor">
            <path d="m32.5 4.999c-5.405 0-10.444 1.577-14.699 4.282l-5.75-5.75v16.11h16.11l-6.395-6.395c3.18-1.787 6.834-2.82 10.734-2.82 12.171 0 22.073 9.902 22.073 22.074 0 2.899-0.577 5.664-1.599 8.202l4.738 2.762c1.47-3.363 2.288-7.068 2.288-10.964 0-15.164-12.337-27.501-27.5-27.501z" />
            <path d="m43.227 51.746c-3.179 1.786-6.826 2.827-10.726 2.827-12.171 0-22.073-9.902-22.073-22.073 0-2.739 0.524-5.35 1.439-7.771l-4.731-2.851c-1.375 3.271-2.136 6.858-2.136 10.622 0 15.164 12.336 27.5 27.5 27.5 5.406 0 10.434-1.584 14.691-4.289l5.758 5.759v-16.112h-16.111l6.389 6.388z" />
        </g>
    </symbol>
</svg>

<div id="naHeader">
    <button class="clearBtn desktopOnly " (click)="refreshNew()" title="Refresh">
        <svg viewBox="0 0 65 65" xmlns="http://www.w3.org/2000/svg" version="v1.1" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#svg-refresh"/></svg>
    </button>
    <h3>Just Added</h3>
</div>
<div class="libraryGrid" id="news">
    <div class="gridRow naTrack" id="naId{{t.id}}" [ngClass]="{requested: justRequested==t.filePath}" *ngFor="let t of uploadedTracks"
        title="{{t.album==null ? '' : t.album}} {{t.year==0 ? '' : '('+t.year+') // '}}{{t.grouping}}">
        <div class="gridCol gc1 otherInfo">
            <div class="gridCol gc1 title">{{t.title==null ? t.filePath : t.title}}</div>
            <div class="gridCol gc1">
                <div class="artist">{{t.artist}}</div>
                <div class="duration">{{t.duration * 1000 | date:'mm:ss'}}</div>
            </div>
        </div>
        <div class="gridCol gc1 request" [ngClass]="{'requested': justRequested==t.filePath}">
            <button type="button" [disabled]="(justRequested!='') && (justRequested!=t.filePath)" (click)="requestAndAddSong(t)" title={{buttonTooltip}}>+</button>
        </div>
    </div>
</div>

<div id="rrHeader">
    <h3>Recently Released</h3>
</div>
<div class="libraryGrid" id="recents">
    <ng-container *ngFor="let group of recentTracks | groupBy: 'grouping' ">
    <div class="gridRow">
        <div class="gridHeading" id="{{group.group}}" (click)="toggleSection(group.group)">{{group.group}}</div>
    </div>
    <section id="section_{{group.group}}">
        <div class="gridRow rrTrack" id="rrId{{t.id}}" [ngClass]="{requested: justRequested==t.filePath}" *ngFor="let t of group.items">
            <div class="gridCol gc1 otherInfo">
                <div class="gridCol gc1 title">{{t.title}}</div>
                <div class="gridCol gc1">
                    <div class="album">{{t.album}}</div>
                    <div class="duration">{{t.duration * 1000 | date:'mm:ss'}}</div>
                </div>
            </div>
            <div class="gridCol gc1 request" [ngClass]="{'requested': justRequested==t.filePath}">
                <button type="button" [disabled]="(justRequested!='') && (justRequested!=t.filePath)" (click)="requestSong(t)" title={{buttonTooltip}}>+</button>
                <span>✔️</span>
            </div>
        </div>
    </section>
    </ng-container>
</div>